*.json

*.log

*info

packages/zsh/.antigen/.zcompdump*
packages/zsh/.antigen/bundles/
packages/zsh/.antigen/antigen.zsh
packages/zsh/.antigen/init.zsh
packages/zsh/.antigen/init.zsh.zwc
packages/zsh/.antigen/.resources
packages/zsh/.antigen/.zshrc.antigen.zwc

packages/neovim/.config/coc/
packages/neovim/.config/htop/
packages/neovim/.config/nvim/pack/
packages/neovim/.config/Code/
packages/neovim/.local/
